.header {
    padding: 15px;
    text-align: center;
    background: rgb(6, 53, 68);
    color: aliceblue;
    font-size: 30px;
  }

::content{
    background: aliceblue;
}

  /* Add this rule to your existing CSS file */
a.active {
    color: white;
}

/* Add this rule to your existing CSS file */
.navbar {
    text-align: right;
}

.navbar li {
    display: inline-block;
    margin-left: 10px; /* Adjust the margin as needed for spacing */
}
